body{
    background-color: dimgrey;
}

.li{
    text-align: center; color: aliceblue;
}

.lo{
    text-align: center;
}

.ho{
text-align: center; color: aliceblue;
}

.hk{
    text-align: center; color: aliceblue;
}

.kk{
    text-align: center;
}

.gg{
    text-align: center; color: aliceblue;
}
